.account-container{
    width: 80vw;
    border: 2px solid black;
}
.account-image-section{
    display: flex

}
.account-image-section img{
    flex:1;
}
.account-image-section div{
    flex:3;
}
.account-content-section div{
    margin-bottom: 1vh;
    border-bottom: 1px solid black;
}